@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');
*{
    box-sizing: border-box;
}

:root{
    --heading:#151515;
    --paragraph:#444444;
    --button:#D5966C;
    --fontBig:'Big Shoulders Display', cursive;
    --fontOutfit:'Outfit', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.map{
    position: relative;
}

.map img{
    width: 100%;
}

.tablet{
    display: none;
}

.desktop{
    display: none;
}

a{
    display: flex;
    text-decoration: none;
    margin-top: 32px;
    position: absolute;
    top: -32px;
}

a:hover .button{
    background-color: var(--button);
}

a:hover .button-secondhalf{
    background-color: var(--heading);
}

.button{
    width: 204px;
    height: 72px;
    background-color: var(--heading);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.button h3{
    color: white;
    font-weight: 800;
    font-family: var(--fontBig);
    font-size: 20px;
    line-height:23.94px ;
    letter-spacing: 3.64px;
}

.button-secondhalf{
    background-color: var(--button);
    width: 56px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.location{
    display: flex;
    flex-direction: column;
    padding: 48px 16px 56px 16px;
    background-color: var(--heading);
    width: 100%;
}

.location-h{
    margin-bottom: 48px;
}

h1{
    line-height: 45px;
    font-size: 50px;
    font-weight: 900;
    font-family: var(--fontBig);
    color: white;
}

.street{
    margin-bottom: 20px;
}

.street h3{
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;
    font-family: var(--fontBig);
    color: #D5966C;
}

.location-p{
    margin-bottom: 20px;
}

.location-p p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    font-family: var(--fontOutfit);
    color: white;

}

.location-p2 p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    font-family: var(--fontOutfit);
    color: white;
}

/* footer */
footer{
    display: flex;
    flex-direction: column;
    padding: 120px 16px;
    background-color: var(--button);
    padding:48px 32px ;
}

.footer-container{
    display: flex;
    flex-direction: column;
    gap: 38px;
}
.footer-container p{
    color: var(--heading);
    font-family: var(--fontOutfit);
}

.icons-container{
    display: flex;
    gap: 20px;
}

/* footer */


/* tablet responsive */

@media screen and (min-width: 768px){

    /* main */
    .mobile{
        display: none;
    }

    .tablet{
        display: block;
    }

    .button-secondhalf{
        margin-left: 40px;
    }
    
    .location{
        flex-direction: row;
        padding: 88px 40px 80px 40px;
    }
    
    .location-h{
        margin-right: 68px;
    }

    .location-p2{
        max-width: 398px;
    }


    /* footer */

    .footer-container{
        display: flex;
        flex-direction: row;
    }

    footer{
        padding: 56px 40px;
        height: 216px;
        width: 100%;
    }

    .footer-p{
        margin: 0 85px 0 35px;
        
    }

    .footer-p p{
        font-size: 16px;
        line-height: 26px;
        width: 281px;
    }
}


@media screen and (min-width: 1024px) {

    .tablet{
        display: none;
    }

    .desktop{
        display: block;
    }

    .location{
        padding: 104px 165px 128px 165px;
        justify-content:space-between;
    }

    .location-h{
        width: 320px;
        margin-right: 150px;
    }

    h1{
        font-size: 70px;
        line-height: 70px;
    }

    .location-p p{
        font-size: 22px;
        line-height: 32px;
    }

    .location-p2 p{
        font-size: 22px;
        line-height: 32px;
    }

    .footer-container{
        gap: 220px;
    }

    .footer-logo svg{
        width: 160px;
        height: 58px;
    }

    .footer-p{
        max-width: 430px;
        margin: 0;
    }
    
    .footer-p p{
        width: 100%;
    }
}

