@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --heading:#151515;
    --paragraph:#444444;
    --button:#D5966C;
    --fontBig:'Big Shoulders Display', cursive;
    --fontOutfit:'Outfit', sans-serif;
}

body{
    /* font-family: 'Big Shoulders Display', cursive; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

header{
    font-family: var(--fontBig);
    display: flex;
    flex-direction: column;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 16px;
}

footer{
    display: flex;
    flex-direction: column;
    padding: 120px 16px;
    background-color: var(--heading);
    padding:48px 32px ;
}

/* text styling */
.hero{
    width: 100%;
}

.tablet-hero{
    display: none;
}

h1{
    line-height: 55px;
    font-size: 60px;
    font-weight: 900;
    font-family: var(--fontBig);
    color: var(--heading);
}

p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    font-family: var(--fontOutfit);
    color: var(--paragraph);
}

/* header styles */
.header-title{
    margin: 32px 16px;
    max-width: 339px;
}

.header-description{
    margin: 0px 16px;
    max-width: 500px;
}

a{
    display: flex;
    text-decoration: none;
    margin-top: 32px;
}

a:hover .button{
    background-color: var(--button);
}

a:hover .button-secondhalf{
    background-color: var(--heading);
}

.button{
    width: 204px;
    height: 72px;
    background-color: var(--heading);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.button h3{
    color: white;
    font-weight: 800;
    font-family: var(--fontBig);
    font-size: 20px;
    line-height:23.94px ;
    letter-spacing: 3.64px;
}

.button-secondhalf{
    background-color: var(--button);
    width: 56px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* header styles */

/* main */
.grid1{
    margin-bottom: 25px;
}

.tablet-grid{
    display: none;
}

.desktop-grid{
    display: none;
}

.yourday h1{
    margin-bottom: 21px;
}

.grid2{
    margin-top: 32px;
    margin-bottom: 16px;
}

.grid3{
    margin-bottom: 16px;
}

.main-footer{
    background-color: var(--heading);
    padding: 48px 24px;
}

.main-footer h1{
    color:white;
    margin-bottom: 24px;
}

.main-footer p{
    color: white;
}

/* main styles */

/* footer */

.footer-container{
    display: flex;
    flex-direction: column;
    gap: 38px;
}
.footer-container p{
    color: white;
}

.icons-container{
    display: flex;
    gap: 20px;
}

/* footer */


@media screen and (min-width: 768px){
    
    /* heaader */
     .header-container{
        position: relative;
    }

    .hero{
        display: none;
    }

    .tablet-hero{
        display: block;
    }

    .header-title{
        position: absolute;
        top: 135px;
        right: 75px;

    }

    .header-description{
        position: absolute;
        top: 318px;
        right: 18px;
        max-width: 339px;
    } 

    /* main */

    main{
        padding: 120px 40px;
    }

    .mobile-grid{
        display: none;
    }

    .tablet-grid{
        display: block;
    }

    .first-half{
        display: flex;
        flex-direction: row-reverse;
        height: 400px;
        margin-bottom: 11px;
    }

    .yourday{
        max-width: 223px;
        margin: 36px 68px 0 0;
    }

    .second-half {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        grid-template-rows: 0.6fr 0.8fr;
        grid-column-gap: 11px;
        grid-row-gap: 11px;
        }
        
        .grid2 { grid-area: 1 / 1 / 3 / 2; }
        .grid3 { grid-area: 1 / 2 / 2 / 3; }
        .main-footer { grid-area: 2 / 2 / 3 / 3; }

    .grid3{
        width: 280px;
        height: 313px;
        margin: 0;
        padding: 0;
    }

    .main-footer{
        width: 280px;
        height:396px;
    }

    .grid2{
        margin: 0;
        padding: 0;
    }

    /* footer */
    .footer-container{
        display: flex;
        flex-direction: row;
    }

    footer{
        padding: 56px 40px;
        height: 216px;
        width: 100%;
    }

    .footer-p{
        margin: 0 85px 0 35px;
        
    }

    .footer-p p{
        font-size: 16px;
        line-height: 26px;
        width: 281px;
    }

}

@media screen and (min-width: 1024px){

    *{
        margin: 0;
        padding: 0;
    }

    p{
        font-size: 22px;
        line-height: 32px;
    }

    .tablet-hero{
        display: none;
    }

    .header-title{
        max-width: 990px;
        height: 800px;
        position: relative;
        margin-top: -170px;
    }

    .modern{
        position: absolute;
        max-width: 865px;
        width: 825px;
        height: 76.5%;
        top: 189px;
        left: 165px;
        background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 285px, rgba(0,0,0,1) 285px, rgba(0,0,0,1) 990px);
        margin: 0;
        padding: 0;
        font-size: 96px;
        line-height: 88px;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-weight: 900;
    }

    .desktop-header{
        background-color:black;
        width: 100%;
        height: 100%;
        background-image: url(./assets/desktop/image-hero.jpg);
        background-repeat: no-repeat;
        background-position: right;
    }

    .header-description{
        top: 21%;
        left: 72.5%;
    }

    .tablet-grid{
        display: none;
    }

    .desktop-grid{
        display: block;
    }

    main{
        padding:0 65px;
       margin: 250px 0 160px 0;
    }

    .first-half{
        margin-bottom: 30px;
    }

    .yourday{
        margin: 0;
        padding: 0;
        max-width: 315px;
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .yourday h1{
        margin: 55px 0 0 0;
    }

    .photo1{
        width: 505px;
        height: 100%;
        margin-right: 15px;
        margin-left: 45px;
    }

    .photo3{
        width: 100%;
        height: 100%;
    }   

    .photo2{
        width: 100%;
        height: 100%;
    }

    .grid1{
        margin: 0;
    }

    .main-footer{
        width: 100%;
        height: 100%;
    }

    .second-half{
        grid-row-gap: 30px;
        grid-column-gap: 30px;
    }

    footer{
        row-gap: 140px;
        padding: 80px 165px;
    }

    .footer-container{
        gap: 100px;
    }

    .footer-p{
        margin: 0 25px 0 0;
    }
    

}

@media screen and (min-width:1300px) {
    
    .first-half{
        margin-right: 50px;
        gap: 190px;
    }
    
    .photo1{
        width: 100%;
        height: 100%;
        margin-right: 15px;
        margin-left: 45px;
    }

    .photo3{
        width: 380.34px;
        height: 380.47px;
    }   

    .photo2{
        width: 100%;
        height: 100%;
    }


    .header-description{
        right: 17%;
        left: 60%;
    }

    .footer-container{
        gap: 220px;
    }

    .footer-p{
        margin: 0 100px 0 0;
        max-width: 430px;
    }
    
    .footer-p p{
        width: 100%;
    }
}